@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* universal css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    background-color: #1e1e1e;
}


/* header section starts here */
.header-container{
    display: flex;
    width: 88%;
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 100px;
    background-color: #1E1E1E;    
}

/* header => logo */
.logo-section{
    width: 20%;
    margin: 0 auto;
    color: #FD6F00;
    display: flex;
    align-items: center;
    min-height: 90px;
   
}
/* header => navbar */
.navbar{
    width: 55%;
    margin: 0 auto;
}
.list-items{
    display: flex;
    justify-content: space-between;
    background-color:#1e1e1e;
    align-items: center;
    min-height: 90px;
    
}
.list-items a {
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
}
    
.nav-btn{
    padding: 15px 40px;
    background-color: #FD6F00;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 20px;
}
/* header-section ends here */




/* banner-section starts here */
.banner-container{
    display: flex;
    width: 88%;
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 20px;
    background-color: #1E1E1E;
    
}
/* banner-section => text-left-side */
.banner-text-left-side{
    height: 800px;
    width: 44%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
    
}
.banner-text-left-side h1{
    font-size: 50px;
    margin-bottom: 10px;

}
/* banner-section => dhaka text */
.special-text{
    color: #FD6F00;
    
}
/* banner-section => paragraph */
.para{
    font-size: 15.5px;
    color: #8E8E8E;
}

/* banner-section => Design | Development | Webflow  */
.designing-tag h2{
    display: inline-flex;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 300;
}
.designing-tag img{
    margin-left: 20px;
    margin-right: 20px;
}

/* banner-section => combined button(portfolio + hireme) */
.combined-button {
    width:470px;
    display: flex;
    align-items: center;
    background-color: #343434;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    border-radius: 70px;
    border: 2px solid #FFFFFF;
}
.portfolio-button{
    display: flex;
    width: 250px;
    height: 100px;
    background-color: #FD6F00;
    color:#FFFFFF;
    font-size: 30px;
    border-radius: 60px;
    justify-content: center;
    align-items: center;
    
}

.hire-me-btn a{
    text-decoration: none;
    font-size: 30px;
    color:#FFFFFF;
    padding-left: 40px;
}

/* banner-section => social icons part */
.social-icons-container{
    padding-top: 40px;
}
.font-icon{
    font-size: 50px;
    color: #8E8E8E;
   
}
.font-icon i{
    padding-right: 30px;
}

/* banner-section => img-right-side */
.banner-img-right-side{
    width: 44%;
}
.banner-img-right-side img{
   
    padding-left: 360px;
    padding-top: 50px;
}
/* banner-section ends here */



/* about-section starts here */
.about-me-container{
    display: flex;
    width: 88%;
    margin: 0 auto;
    justify-content: center;
    align-items:center ;
}
/* about-section => left-side */
.about-left-side{
    
    width: 44%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-left-side h1{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 800;
}
.about-left-side p{
    color:#8E8E8E;
    font-size: 19px;
    margin-top: 15px;
}

/* about-section => right-side */
.about-right-side{
    width: 44%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    
}
.about-right-side-info{
    margin-left: 400px;
}

.about-star-icon{
    color: #FD6F00;
    font-size: 25px;
    margin-left: 45px;
    
}

.experience-year{
    color: #FFFFFF;
}
.experience-year h1{
    font-size: 50px;
    margin-top: 20px;
   
}
.experience-year p{
    margin-left: 120px;
}

/* about-section ends here */




/* experience-section starts here */
.my-experience-container{
    display: flex;
    width: 88%;
    margin: 0 auto;
    padding-bottom: 100px;
}
.experience-text-left-side{
    border: 2px solid red;
    width: 50%;
    height: 500px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.experience-year-right-side{
    border: 2px solid yellow;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.experience-list{
    color: #FFFFFF;
}
.year-companyName{
    display: flex;
    justify-content: space-between;
}




/* portfolio section starts here */
.my-portfolio-container{
    display: flex;
    width: 88%;
    margin: 0 auto;
    justify-content: center;
    align-items:center ;
    padding-top: 40px;
    padding-bottom: 150px;
    background-color: #1E1E1E;   
}
/* portfolio section => info(h1,p,button) */
.portfolio-heading-info{
    text-align: center;
}
.portfolio-heading-info h1{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 800;    
}
.portfolio-heading-info p{
    color:#8E8E8E;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.portfolio-button-list{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.portfolio-button-list button{
    font-size: 25px;
}
.portfolio-btn{
    padding: 15px 40px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 5px;
}

/* portfolio section => project showcasing */
.project-1{
    display: flex;
    margin-bottom: 45px;   
}
.portfolio-left-img{
    width: 44%;
    
}
.portfolio-right-text{
    width: 44%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 60px;
}
.portfolio-right-text h1{
    font-size: 40px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;

}
.portfolio-right-text h4{
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 500;

}
.portfolio-right-text p{
    font-size: 20px;
    color:#8E8E8E

}
/* portfolio section ends here */




/* my contact section starts here */
.my-contact-container{
    display: flex;
    width: 88%;
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 100px;
    background-color: #1E1E1E;
}
.contact-details{
    width: 70%;
}

.contact-heading{
    color: #FFFFFF;
    text-align: center;
    width: 100%;
}
.contact-heading h1{
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 60px;
    font-weight: 800;
}
/* form-container */
.form-container{
    padding: 60px 120px;
    color: #FFFFFF;
    background-color: #34261B;
    
}
.form-container h1{
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 20px;
}
.form-details-name-email{
    display: flex;
    
    
}
.name-field{
    width: 50%;
    margin-right: 50px;
    padding-bottom: 10px;
    border-bottom: 2px solid #FFFFFF;
    
}
.email-field{
    width: 50%;
    border-bottom: 2px solid #FFFFFF;
    
}
.form-message{
    width: 100%;
    border-bottom: 2px solid #FFFFFF;
    margin-top: 60px;
    margin-bottom: 15px;
    padding-bottom: 60px;

}
.attach-file{
    text-transform: uppercase;
    margin-bottom: 30px;
}
/* my contact section ends here */




/* footer section starts here */
.footer-container{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    background-color: #000000;
}
.footer-logo{
    font-size: 30PX;
    text-align: center;
    color:#FD6F00;
    margin-top: 150px;
    margin-bottom: 60px;
}
.footer-logo h1{
    font-weight: 800;
}
.footer-nav{
    font-size: 20px;
    margin-top: 40px;
    
}
.footer-nav a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 0px 20px;
   
}
.footer-icons-container{
    display: flex;
    justify-content: center;
}
.footer-icon{
    font-size: 35px;
    padding-top: 100px;
    color:#FFFFFF;
}
.footer-icon i{
    padding: 0px 10px;
}
.footer-end-section{
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    margin-top: 100px;
    font-size: 23px;
}
.name{
    color: #FD6F00;
    padding: 0px 5px;
    margin-bottom: 30px;
}
/* footer section ends here */



